$white: #fff;
$off_white: #F9F9F3;

$very_blue: #04A0DC;

$dark_title_col: #4E5A74;
$mid_title_col: #617596;

$aux_title_col: #8A8A7B;

$rule_col: #c0c0c0;

$presence_green: #449C57;

$default_text_col: #4E5A74;