@import "measurements";
@import "palette";
@import "typeography";
@import "app";
@import "app_logo";
@import "app_header";
@import "app_menu";
@import "hub";
@import "conversations";
@import "conversation";
@import "status_pip";
@import "avatar";
@import "switch";
@import "contacts";

/*
  Box sizing resets, default element resets etc. etc.
*/

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;
}

body {
  font-family: $sans_stack;
  color: $default_text_col;
  white-space: nowrap;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: 1rem;
}

ul, figure {
  margin: 0;
  padding: 0;
}